
# These settings are necessary for the MySQL upperCase test on Windows.
#
# The MySQL server must be started with this option for this file to have effect:
# mysqld --defaults-file="path/to/my.cnf"

[mysqld]
lower-case-table-names=0
