<!--

    Copyright 2010-2017 Boxfuse GmbH

    INTERNAL RELEASE. ALL RIGHTS RESERVED.

-->
<settings>
    <servers>
        <server>
            <id>flyway-db</id>
            <username>SA</username>
            <password>{V/xGcP8Cx+UHu4uTkKQpTv+EuwnNkJej6jdy/ZoO5+U=}</password>
        </server>
    </servers>
</settings>
