<!--

    Copyright 2010-2018 Boxfuse GmbH

    INTERNAL RELEASE. ALL RIGHTS RESERVED.

    Must
    be
    exactly
    13 lines
    to match
    community
    edition
    license
    length.

-->
<settings>
    <servers>
        <server>
            <id>flyway-db</id>
            <username>SA</username>
            <password>{V/xGcP8Cx+UHu4uTkKQpTv+EuwnNkJej6jdy/ZoO5+U=}</password>
        </server>
    </servers>
</settings>
