bin
build
target
*.iml
*.ipr
*.iws
*.ids
.project
.classpath
.settings
.metadata
.gradle
*.h2.db
.DS_Store
*.asc

documentation/.jekyll-metadata
documentation/_site
documentation/_vale_config/styles/Microsoft
documentation/_vale_config/styles/proselint

**/.idea/**
!**/.idea/runConfigurations/
!**/.idea/runConfigurations/*
!**/.idea/codeStyles/
!**/.idea/codeStyles/*

flyway-core-test/spooledContents.sql
flyway-core-test/spool.sql
flyway-cli-sample/jars/
flyway-*compare/**/resources/*compare/
flyway-rulesengine-sqlfluff/**/resources/sqlfluff*/.pytest_cache
flyway-rulesengine-sqlfluff/**/resources/sqlfluff*/**/*.pyc
flyway-rulesengine-sqlfluff/sqlfluff*
flyway-rgcompare/src/main/resources/obj/
flyway-rgcompare/rgcompare/
out/**
