bin
build
target
__pycache__
*.iml
*.ipr
*.iws
*.ids
.project
.classpath
.settings
.metadata
.gradle
*.db
.DS_Store
*.asc

documentation/.jekyll-metadata
documentation/_site
documentation/_vale_config/styles/Microsoft
documentation/_vale_config/styles/proselint

**/.idea/**
!**/.idea/runConfigurations/
!**/.idea/runConfigurations/*
!**/.idea/codeStyles/
!**/.idea/codeStyles/*

.vscode

flyway-core-test/spooledContents.sql
flyway-core-test/spool.sql
flyway-cli-sample/jars/
flyway-*compare/**/resources/*compare/
flyway-rulesengine-sqlfluff/**/resources/sqlfluff*/.pytest_cache
flyway-rulesengine-sqlfluff/**/resources/sqlfluff*/**/*.pyc
flyway-rulesengine-sqlfluff/sqlfluff*

flyway-comparison/flyway-rgcompare/**/resources/rgcompare/
flyway-comparison/flyway-rgcompare/**/resources/obj/
flyway-comparison/flyway-rgcompare/rgcompare/
flyway-comparison/flyway-comparison-engines/**/resources/flyway-comparison/
flyway-comparison/flyway-comparison-engines/**/resources/obj/
flyway-comparison/flyway-comparison-engines/flyway-comparison/

out/**
