language: java
jdk:
  - oraclejdk7
services:
  - mysql
  - postgresql
before_install:
  - sudo rm /etc/mavenrc
install: "mvn install -P-CommercialDBJars -DskipTests=true -B"
before_script:
  - psql -U postgres < ./flyway-core/src/test/resources/migration/dbsupport/postgresql/createDatabase.sql
  - mysql --verbose -uroot < ./flyway-core/src/test/resources/migration/dbsupport/mysql/createDatabase.sql
  - echo "mariadb.url=jdbc:mariadb://localhost:3309/flyway_maria_db" > ~/flyway-mediumtests.properties
script: "mvn verify -PNoCommercialDBTest -P-CommercialDBJars"
