lombok.log.fieldName = LOG
lombok.log.custom.declaration = org.flywaydb.core.api.logging.Log org.flywaydb.core.api.logging.LogFactory.getLog(TYPE)
lombok.log.apacheCommons.flagUsage = error
lombok.log.flogger.flagUsage = error
lombok.log.jbosslog.flagUsage = error
lombok.log.javaUtilLogging.flagUsage = error
lombok.log.log4j.flagUsage = error
lombok.log.log4j2.flagUsage = error
lombok.log.slf4j.flagUsage = error
lombok.log.xslf4j.flagUsage = error