<?xml version="1.0" encoding="utf-8"?>
<!--

    Copyright 2010-2018 Boxfuse GmbH

    INTERNAL RELEASE. ALL RIGHTS RESERVED.

    Must
    be
    exactly
    13 lines
    to match
    community
    edition
    license
    length.

-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>EnvInfoServlet</servlet-name>
        <servlet-class>org.flywaydb.sample.webapp.EnvInfoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CleanServlet</servlet-name>
        <servlet-class>org.flywaydb.sample.webapp.CleanServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MigrateServlet</servlet-name>
        <servlet-class>org.flywaydb.sample.webapp.MigrateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoServlet</servlet-name>
        <servlet-class>org.flywaydb.sample.webapp.InfoServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>EnvInfoServlet</servlet-name>
        <url-pattern>/env-info</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CleanServlet</servlet-name>
        <url-pattern>/clean</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>MigrateServlet</servlet-name>
        <url-pattern>/migrate</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>InfoServlet</servlet-name>
        <url-pattern>/info</url-pattern>
    </servlet-mapping>
</web-app>