<?xml version="1.0" encoding="UTF-8" ?>
<!--

    Copyright 2010-2018 Boxfuse GmbH

    INTERNAL RELEASE. ALL RIGHTS RESERVED.

    Must
    be
    exactly
    13 lines
    to match
    community
    edition
    license
    length.

-->
<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} %5p [%15.15t{14}] %-40.40logger{39} : %m%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE" />
    </root>

    <logger name="org.springframework" level="INFO"/>

    <!-- Phoenix and the HBase minicluster are extremely verbose by default -->
    <logger name="org.mortbay" level="WARN"/>
    <logger name="org.apache.commons" level="WARN"/>
    <logger name="org.apache.hadoop" level="ERROR"/>
    <logger name="org.apache.jasper" level="WARN"/>
    <logger name="org.apache.phoenix" level="WARN"/>
    <logger name="org.apache.phoenix.metrics" level="ERROR"/>
    <logger name="org.apache.phoenix.memory" level="ERROR"/>
    <logger name="org.apache.zookeeper" level="ERROR"/>
    <logger name="BlockStateChange" level="WARN"/>
    <logger name="org.testcontainers" level="INFO"/>
    <logger name="org.apache.http" level="WARN"/>
    <logger name="com.github.dockerjava" level="WARN"/>
    <logger name="org.zeroturnaround.exec" level="WARN"/>
    <logger name="org.testcontainers.shaded.io.netty.channel" level="OFF"/>
    <logger name="org.testcontainers.shaded.io.netty.util.concurrent" level="OFF"/>
</configuration>
