<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <packageSources>
    <clear />
    <add key="Public NuGet" value="https://api.nuget.org/v3/index.json" />
    <add key="red-gate-vsts-main-v3" value="https://red-gate.pkgs.visualstudio.com/_packaging/Main/nuget/v3/index.json" />
  </packageSources>
</configuration>
